.card {
    width: 20%;
    background-color: #D8E3E7;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    margin: 1%;
  }
  .card a {
    color: #333; 
    text-decoration: none;
  }
  .card:hover .card-image img {
    width: 120%;
  }

  .card-image {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Playfair Display', serif;
    background-color: rgb(163, 163, 163);
  }
  .card-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: filter width; 
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .card-body {
    text-align:justify;
    padding: 15px 20px;
    box-sizing: border-box;
}
  
.card-date, .card-title {
    text-align:center;
    font-weight: bold;
  }
  
  .card-date, .card-description {
    color: #777;
  }

  .card-date {
    font-family: 'Source Sans Pro', sans-serif;
  }